*.pyc
*.pem
*.orig
.Python
.coverage
.DS_Store
.project
.pydevproject
.settings
.pipcache
env.sh
/cache
/.vagrant
/bin
/private
node_modules/
.idea*/
/logs
/man
/src
/collected_static
debug.log
error.log
*.egg-info
build
dist
*.egg
.eggs
